body {
    /* background-color: red; */
}

:root {
    --primary-color: #1D2D55;
}

header {
    background-color: var(--primary-color);
    color: white !important;
}

.UNICEF-logo {
    height: 40px;
}

.fkhmedia-logo {
    height: 55px;
    margin: 10px 0px;
}


.form-horizontal .control-label {
    text-align: left;
}

.header-filters .form-control {
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding: 0px 5px;
}

.header-filters ::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.btn-brand {
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 15px;
    box-shadow: none;
    padding: 5px 10px;
}

.barnd-color {
    color: var(--primary-color);
}

.bg-brand {
    background-color: var(--primary-color);
    color: white;
}

.grey-bg {
    background-color: #E9E9E9;
}

.c-body {
    background-image: url("/images/text2.jpg");
    background-position: center;
}

.filter-tools {
    background-image: url("/images/text2.jpg");
}




.nav-pills .nav-link.active,
.nav-pills .nav-link {
    color: var(--primary-color);
    height: 80px;
    font-size: 16px;
    background-image: url("/images/text2.jpg");
    text-align: start;
    border-radius: 0px;
    border-bottom: 1px solid var(--primary-color);
}

/*  show */
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: var(--primary-color) !important;
    font-weight: bold;
    border-bottom: 1px solid var(--primary-color);
    font-size: 23px;
}

.nav-link.active {
    position: relative;
}

.nav-link.active::after {
    content: url("/svg/arrow-left.svg");
    fill: #1d2d55 !important;
    width: 25px;
    height: 25px;
    position: absolute;
    right: -2px;
    top: 20px;
}

.tab-content {
    height: 100vh;
}

.shadow-element {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
    clip-path: inset(0px -15px 0px 0px);
    height: 100vh;
}


#carouselShare-of-voiceControls .carousel-inner .carousel-item {
    height: 80vh;
}

#carouselShare-of-voiceControls .carousel-control-next, #carouselShare-of-voiceControls .carousel-control-prev{
    width: auto !important;
}


#carouselShare-of-voiceControls .carousel-control-prev-icon {
    width: 40px;
    height: 40px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}
 
#carouselShare-of-voiceControls .carousel-control-next-icon {
    width: 40px;
    height: 40px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

#carouselShare-of-voiceControls .carousel-control-prev{
    left: -20px;
}

#carouselShare-of-voiceControls .carousel-control-next {
    right: -20px;
}