body{
    /* background-color: red; */
}

:root {
    --primary-color: #1D2D55;
}

header{
    background-color: var(--primary-color);
    color: white !important;
}

.UNICEF-logo{
    height: 40px;
}

.fkhmedia-logo{
    height: 55px;
    margin: 10px 0px;
}


.form-horizontal .control-label{
    text-align: left;
}
.header-filters .form-control{
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding: 0px 5px;
}
.header-filters ::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.btn-brand{
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 15px;
    box-shadow: none;
    padding: 5px 10px;
}
.barnd-color{
    color: var(--primary-color);
}

.bg-brand{
    background-color: var(--primary-color);
    color: white;
}

.grey-bg{
    background-color: #E9E9E9;
}
.c-body {
    background-image: url("/images/text2.jpg"); 
    background-position: center;
}

.filter-tools{
    background-image: url("/images/text2.jpg");
}




.nav-pills .nav-link.active, .nav-pills .nav-link{
    color: var(--primary-color);
    height: 80px;
    font-size: 16px;
    background-image: url("/images/text2.jpg");
    text-align: start;
    border-radius: 0px;
    border-bottom: 1px solid var(--primary-color);
}

/*  show */
.nav-pills .nav-link.active, .nav-pills .show >.nav-link{
    background-color: var(--primary-color) !important;
    font-weight: bold;
    border-bottom: 1px solid var(--primary-color);
    font-size: 23px;
}
.nav-link.active{
    position: relative;
}

.nav-link.active::after{
    content: url("/svg/arrow-left.svg");
    fill: #1d2d55 !important;
    width: 25px;
    height: 25px;
    position: absolute;
    right: -2px;
    top: 20px;
}

.tab-content{
    height: 100vh;
}

.shadow-element {
    /* border: 1px solid #333; */
    /* width: 100px; */
    /* height: 100px; */
    box-shadow: 0 0 4px rgba(0,0,0,0.75);
    clip-path: inset(0px -15px 0px 0px);
    height: 100vh;
}